<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Spaces</title>
  </head>
  <body>
    <% if @user %>
    <h1>Welcome, <%=@user.name%></h1>
    <form action="/sign-out" method="POST">
      <input type="submit" name="sign-out" id="sign-out" value="Sign out">
    </form>
    <% else %>
    <form class="" action="/login" method="get">
      <input type="submit" name="login-button" value="Log in">
    </form>
    <form class="" action="/users/new" method="get">
      <input type="submit" name="signup-button" value="Sign up">
    </form>


    <% end %>


    <h2>Book a space</h2>
    <% if @user %>

    <div class="add-spaces">
      <form action="listings/<%=@user.id%>/new">
        <button type="submit" >Add new listing</button>
      </form>

    </div>
    <% end %>


    <h1>All listings</h1>
<div class="main-spaces">
    <% @listings.each do |list| %>

    <div class="single-space">
      <h2><%= list.name %> Price: £<%= list.price %> Available until: <%= list.dates_available%></h2>
      <div class="space_description">
          <%= list.description %>
      </div>
      <div class="request-spaces">
        <form method="post" action="listings/<%=@listings.id%>/request">
          <button type="submit" >Add new listing</button>
        </form>
    </div>
    </div>


       <% end %>
    </div>

  </body>
</html>
