<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Your Requests:</h1>
    <% @requests.each do |request| %>
      <% if @user %>
        <% if @user.id == request.requester_user_id %>
        <h2>Listing name: <%= request.name %></h2>
        <p>Listing description: <%= request.description %></p>
        <p>dates requested: <%= request.dates_booked %></p>
        <p>Status: <% if request.isConfirmed == "f" %>
                Not Confirmed
            <% else %>
                Confirmed
            <% end %>
        </p>
        <form action="/listings/<%= request.id %>/delete-request" method="POST">
          <input type='hidden' name='_method' value='DELETE'/>
          <input type="submit" name="delete_request" id="delete_request" value="Delete this request">
        </form>
        <% end %>
      <% end %>
    <% end %>
    <h1>Your Requested Properties:</h1>
    <% @requests.each do |request| %>
    <% if @user %>
      <% if @user.id == request.listing_user_id %>
      <h2>Listing name: <%= request.name %></h2>
      <p>Who requested: <%=(User.find( request.requester_user_id)).name %></p>
      <p>Listing description: <%= request.description %><p>
      <p>Dates requested: <%= request.dates_booked %></p>
      <p>Status: <%if request.isConfirmed == "f" %>
              Not Confirmed
          <% else %>
              Your Booking is confirmed
          <% end %>

        </p>
      <form action="/listings/<%= request.id %>/confirm-request" method="POST">
        <input type="hidden" name="_method" value="PATCH" />
        <input type="submit" name="accept_request" id="accept_request" value="Accept this request">
      </form>
      <form action="/listings/<%= request.id %>/deny-request" method="POST">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" name="deny_request" id="deny_request" value="Deny this request">
      </form>
      <% end %>
    <% end %>
  <% end %>
  <form class="" action="/listings" method="get">
    <input type="submit" name="listings" value="Back to listings">
  </form>
  </body>
</html>
